@charset "UTF-8";

:root{
    --destaque:#273640;
    --fundoprincipal:#ecebeb;
    --texto:#222222;
    --texto-inverso:#ffffff;
    --destaque-inverso:#556A73;
    --fundo-card: #ffffff;
    --gray: #8FA1A6;
}

body.escuro{
    --destaque: #006aff;
    --fundoprincipal: #222222;
    --texto: #e0e0e0;
    --texto-inverso: #c5c5c5;
    --destaque-inverso: #588bcc;
    --fundo-card: #444444;
}
/* Mobile First*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--fundoprincipal);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    color: var(--texto);
}

/* HEADER E MENU*/

header{
    background: var(--destaque);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

header nav{
    text-align: right;
    padding: 5px 13px 5px 0px;
}
header ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}
.tooltip a{
    text-decoration: none;
    color: var(--texto-inverso);
    font-weight: 600;
    padding: 10px 5px 5px 5px;
    border-radius: 5px;
    transition: 1s;
}
.tooltip a:hover{
    background-color: var(--destaque-inverso);
}

/* CAIXAS CONFIG GERAIS*/

article{
    padding: 10px;
    background-color: var(--fundo-card);
    border-radius: 8px;
    margin: 20px 0px;
}

section h1{
    color: var(--destaque);
    padding: 10px;
    font-size: 1.8em;
    
}
section p{
    padding: 5px 10px;
    text-align: left;
    color: var(--texto);
}


/* MAIN*/

/* apresentação*/


main{
    display: grid;
    grid-template-columns: auto 90vw auto;
    gap: 20px;
}
section#apresentacao{
    grid-column: 2;
    padding: 5px;
    background-color: var(--fundo-card);
    border-radius: 8px;
    margin: 10px 0px 0px 0px;
}


img#foto-perfil{
    display: block;
    margin: auto;
    padding: 4px;
    margin-bottom: 10px;
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: 0.25em solid var(--destaque);
}

.container{
    display: flex;
    justify-content: center;
    padding: 8px 0px;
    gap: 1em;
    margin: 5px;
}

.social{
    color: var(--destaque);
    font-size: 1.6em;
}
.social:hover{
    color: var(--destaque-inverso);
    transition: color 0.5s;
}

 /* Talentos*/
 
 section#talentos{
     grid-column: 2;
    }
    
    /* skills*/

#skill-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px 5px;
}

#skill-container .info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#skill-container .nome {
    font-weight: bold;
    color: var(--texto);
}

#skill-container .percent {
    font-weight: bold;
    color: var(--destaque);
}

#skill-container .barra {
    width: 100%;
    height: 8px;
    background-color: var(--gray);
    border-radius: 4px;
}
#skill-container .progresso {
    height: 8px;
    background-color: var(--destaque);
    border-radius: 4px;
}



    /* Formação*/

#forma-container{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}

.curso{
    background-color: var(--fundoprincipal);
    border-radius: 8px;
    border-left: 5px solid var(--destaque-inverso); 
    padding-left: 15px;
    transition: border-width 0.6s;
}
.curso:hover{
    border-left-width: 15px; 
}

h3.instituição{
    padding-left: 10px;
    font-size: 1.3em;
    color: var(--destaque);
}


 /* Projetos*/

#projeto-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.boxproje{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    border-radius: 8px;
    border-left: 5px solid var(--destaque-inverso); 
    background-color: var(--fundoprincipal);
    padding-left: 15px;
    transition: border-width 0.6s;
}
.boxproje:hover{
    border-left-width: 15px; 
}

.proje-info{
    max-width: 80%;
}

img.foto{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
}

h3.titulo{
    padding-left: 10px;
    color: var(--destaque);
}

 /* itens da formação e projetos*/

.periodo{
    font-size: 0.8em;
    padding-left: 10px;
    font-weight: 600;
    font-size: smaller;
}
p.titulacao{
    padding-left: 10px;
    padding-bottom: 5px;
}
div a{
    padding-left: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
}


 /*Footer*/

footer{
    background-color: var(--destaque);
    color: var(--texto-inverso);
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}

footer p{
    font-size: 0.9em;
}

span#nome{
    font-weight: 900;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden; /* Hidden by default */
  width: 130px;
  background-color: var(--destaque-inverso);
  color: var(--texto-inverso);
  text-align: center;
  padding: 5px 0;
  border-radius: 8px;
  position: absolute;
  z-index: 1; /* Ensure tooltip is displayed above content */
}

/* Show the tooltip text on hover */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  top: 40px;
  left: -95px;
}
 /* Fim do Mobile First*/


 /* telas maiores */

@media (min-width: 768px) {
    main{
        grid-template-columns: auto 300px  1fr auto;
    }
    section#apresentacao{
        grid-column: 2 / 3;
        height: fit-content;
        position: sticky;
        top: 65px;
    }
    
    section#talentos{
        grid-column: 3 / 4;

    }
    #skill-container {
    grid-template-columns: 1fr 1fr;
}
.boxproje{
    flex-direction: row-reverse;
    justify-content: space-between;
}
}

 