@charset "UTF-8";

:root{
    --destaque:#00c300;
    --fundoprincipal:#f5f5f5;
    --texto:#222222;
    --texto-inverso:#ffffff;
    --destaque-inverso:#006f00;
    --fundo-card: #ffffff;
    --gray: #e1e1e1;
}

/* Mobile First*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: var(--fundoprincipal);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    color: var(--texto);
}

/* HEADER E MENU*/

header{
    background: var(--destaque);
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

header nav{
    text-align: right;
    padding: 5px 3px 5px 0px;
}
header ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}
nav a{
    text-decoration: none;
    color: var(--texto-inverso);
    font-weight: 600;
    padding: 10px 3px 3px 3px;
    border-radius: 5px;
}
nav a:hover{
    background-color: var(--destaque-inverso);
    transition: 1s;
}

#sol{
    display: none;
}

/* MAIN*/

/* apresentação*/


main{
    display: grid;
    grid-template-columns: auto 90vw auto;
    gap: 20px;
    margin-top: 20px;
}
section#apresentacao{
    grid-column: 2;
    padding: 5px;
    background-color: var(--fundo-card);
    border-radius: 8px;
}


img#foto-perfil{
    display: block;
    margin: auto;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: 0.25em solid var(--destaque);
}

.container{
    display: flex;
    justify-content: center;
    padding: 8px 0px;
    gap: 1em;
    margin: 5px;
}

.social{
    color: var(--destaque);
    font-size: 1.6em;
}
.social:hover{
    color: var(--destaque-inverso);
    transition: color 0.5s;
}

 /* Sobre mim*/

section#sobre-mim{
    grid-column: 2;
    padding: 5px;
    background-color: var(--fundo-card);
    border-radius: 8px;
}


/* CAIXAS CONFIG GERAIS*/

section h1{
    color: var(--destaque);
    padding: 10px;
    font-size: 1.8em;
}
section p{
    padding: 5px 10px;
    text-align: left;
}

div h4{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: smaller;
}
div h2{
    padding-left: 10px;
    color: var(--destaque);
}
div p{
    padding-left: 10px;
    padding-bottom: 5px;
}
div a{
    padding-left: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
}

 /* Formação*/

section#forma{
    grid-column: 2;
    padding: 5px;
    background-color: var(--fundo-card);
    border-radius: 8px;
}

.boxforma{
    margin-left: 5px;
    padding: 10px 5px;
    border-radius: 10px;
    width: 85vw;
    background-color: var(--gray);
}

.fundoforma{
    margin: 10px 5px;
    background-color: var(--destaque);
    width: 8vw;
    border-radius: 10px;
}
.boxforma:hover{
    transform: translateX(10px);
    width: 84vw;
    transition: 0.6s;
    cursor: pointer;
}

 /* Projetos*/

section#proje{
    grid-column: 2;
    padding: 5px;
    background-color: var(--fundo-card);
    border-radius: 8px;
}

.boxproje{
    margin-left: 5px;
    padding: 10px 5px;
    border-radius: 10px;
    width: 85vw;
    background-color: var(--gray);
}
.boxproje img{
    display: block;
    margin: auto;
    width: 300px;
    border-radius: 10px;
}
.fundoproje{
    margin: 10px 5px;
    background-color: var(--destaque);
    width: 8vw;
    border-radius: 10px;
}
.boxproje:hover{
    transform: translateX(10px);
    width: 84vw;
    transition: 0.6s;
    cursor: pointer;
}

/* */
/*Footer*/
footer{
    background-color: var(--destaque);
    color: var(--texto-inverso);
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}

footer p{
    font-size: 0.9em;
}

span#nome{
    font-weight: 900;
}
/* Fim do Mobile First*/


/* Tablet */
@media (min-width: 768px) {
    body {
    }
}

/* Desktop */
@media (min-width: 1024px) {
    body {
        
    }
}

/* TV */
@media (min-width: 1920px) {
    body {
    }
}