@charset "UTF-8";

:root{
    --destaque:#273640;
    --fundoprincipal:#ecebeb;
    --texto:#222222;
    --texto-inverso:#ffffff;
    --destaque-inverso:#556A73;
    --fundo-card: #ffffff;
    --gray: #8FA1A6;
}

/* Mobile First*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: var(--fundoprincipal);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    color: var(--texto);
}

/* HEADER E MENU*/

header{
    background: var(--destaque);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100vw;
}

header nav{
    text-align: right;
    padding: 5px 3px 5px 0px;
}
header ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}
nav a{
    text-decoration: none;
    color: var(--texto-inverso);
    font-weight: 600;
    padding: 10px 3px 3px 3px;
    border-radius: 5px;
}
nav a:hover{
    background-color: var(--destaque-inverso);
    transition: 1s;
}

#sol{
    display: none;
}

/* CAIXAS CONFIG GERAIS*/

article{
    padding: 10px;
    background-color: var(--fundo-card);
    border-radius: 8px;
    margin: 10px 0px;
}

section h1{
    color: var(--destaque);
    padding: 10px;
    font-size: 1.8em;
}
section p{
    padding: 5px 10px;
    text-align: left;
}


/* MAIN*/

/* apresentação*/


main{
    display: grid;
    grid-template-columns: auto 90vw auto;
    gap: 20px;
}
section#apresentacao{
    grid-column: 2;
    padding: 5px;
    background-color: var(--fundo-card);
    border-radius: 8px;
}


img#foto-perfil{
    display: block;
    margin: auto;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: 0.25em solid var(--destaque);
}

.container{
    display: flex;
    justify-content: center;
    padding: 8px 0px;
    gap: 1em;
    margin: 5px;
}

.social{
    color: var(--destaque);
    font-size: 1.6em;
}
.social:hover{
    color: var(--destaque-inverso);
    transition: color 0.5s;
}

 /* Talentos*/
 
 section#talentos{
     grid-column: 2;
    }
    
    /* skills*/

#skill-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px 5px;
}

#skill-container .info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#skill-container .nome {
    font-weight: bold;
    color: var(--texto);
}

#skill-container .percent {
    font-weight: bold;
    color: var(--destaque);
}

#skill-container .barra {
    width: 100%;
    height: 8px;
    background-color: var(--gray);
    border-radius: 4px;
}
#skill-container .progresso {
    height: 8px;
    background-color: var(--destaque);
    border-radius: 4px;
}



    /* Formação*/

#forma-container{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}

.curso{
    background-color: var(--fundoprincipal);
    border-radius: 8px;
    border-left: 5px solid var(--destaque-inverso); 
    padding-left: 15px;
    transition: border-width 0.6s;
}
.curso:hover{
    border-left-width: 15px; 
}

h3.instituição{
    padding-left: 10px;
    font-size: 1.3em;
    color: var(--destaque);
}


 /* Projetos*/

#projeto-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.boxproje{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    border-radius: 8px;
    border-left: 5px solid var(--destaque-inverso); 
    background-color: var(--fundoprincipal);
    padding-left: 15px;
    transition: border-width 0.6s;
}
.boxproje:hover{
    border-left-width: 15px; 
}

.proje-info{
    max-width: 80%;
}

img.foto{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
}

h3.titulo{
    padding-left: 10px;
    color: var(--destaque);
}

 /* itens da formação e projetos*/

.periodo{
    font-size: 0.8em;
    padding-left: 10px;
    font-weight: 600;
    font-size: smaller;
}
p.titulacao{
    padding-left: 10px;
    padding-bottom: 5px;
}
div a{
    padding-left: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
}


 /*Footer*/

footer{
    background-color: var(--destaque);
    color: var(--texto-inverso);
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}

footer p{
    font-size: 0.9em;
}

span#nome{
    font-weight: 900;
}

 /* Fim do Mobile First*/


 /* Tablet */

@media (min-width: 768px) {
    #skill-container {
    grid-template-columns: 1fr 1fr;
}
.boxproje{
    flex-direction: row-reverse;
    justify-content: space-between;
}
}

 /* Desktop */

@media (min-width: 1024px) {
    body {
        
    }
}

 /* TV */

@media (min-width: 1920px) {
    body {
    }
}